[include .dynamicmacros.cfg]
#[include mmu/base/*.cfg]
#[include mmu/optional/client_macros.cfg]
#[include mmu/addons/blobifier.cfg]
[include macros/fan_tach_monitor.cfg]

[dynamicmacros]
configs: macros/dynamic.cfg
#####################################################################
#   File locations and on error handling
#####################################################################

[virtual_sdcard]
path: /home/pjotr/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


 
#####################################################################
#   Device ID's
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_290039000751303532383235-if00
restart_method: command

[mcu nhk]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_4D4A393336174370-if00
serial: /dev/serial/by-id/usb-Klipper_rp2040_4E363334320F7547-if00
restart_method: command

#####################################################################
#   Basic Klipper and Printer setup
#####################################################################

[printer]
kinematics: corexy
max_velocity:600  
max_accel: 30000
max_z_velocity: 40          
max_z_accel: 200
square_corner_velocity: 5.0

[exclude_object]
[print_stats]

[gcode_arcs]
resolution: 0.05

[idle_timeout]
timeout: 3600

[force_move]
enable_force_move: True


#####################################################################
#   Includes
#####################################################################

## Configuration files
[include mainsail.cfg]

[include config/extruder.cfg]
[include config/ab.cfg]
[include config/z_axis.cfg]
[include config/homing.cfg]
[include config/axis.cfg]

[include config/temperature_sensors.cfg]
[include config/fans.cfg]
[include config/input_shaper.cfg]

[include config/disco.cfg]
#[include config/nevermore.cfg]

## Macros
[include macros/movement_macros.cfg]
[include macros/LED_macros.cfg]
[include macros/printing_macros.cfg]
[include macros/print_start_end.cfg]
[include macros/misc_macro.cfg]
[include macros/speed.cfg]


## Cartographer macro
[include macros/cartographer_macros.cfg]



[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 37.724
#*# pid_ki = 1.170
#*# pid_kd = 304.147
#*#
#*# [input_shaper]
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.683242027296363,2.2329919871143997,0.6826756532218138,0.056005190564464326,0.44368382428701614,0.4371194711256817,-0.3082485689236075,-0.14173219859123967,0.29812108917189084,0.11714048336161739
#*# domain = 3.196667414711889e-07,3.337196212039658e-07
#*# z_offset = 0
#*# reference_temperature = 22.73
#*#
#*# [cartographer touch_model default]
#*# threshold = 1582
#*# speed = 2
#*# z_offset = -0.05
