[gcode_macro UPDATE_MAINSAIL]
gcode:
  {% set _ = python_file('updater.py') %}

[gcode_macro rewinder_test]
gcode:
    {% set tool = params.TOOL | default(0) | int %}   ; This target can be set with the drop-down in Mainsail
    {% set cycles = params.CYCLES | default(5) | int %}   ; This target can be set with the drop-down in Mainsail
    {% set speed = params.SPEED | default(300) | float %}   ; This target can be set with the drop-down in Mainsail
    {% set accel = params.ACCEL | default(300) | float %}   ; This target can be set with the drop-down in Mainsail
    {% set length = params.LENGTH | default(800) | float %}   ; This target can be set with the drop-down in Mainsail

    MMU_SELECT TOOL={tool}
    MMU_PRELOAD
    MMU_TEST_LOAD LENGTH=50
    {% for n in range(cycles) %}

        MMU_SERVO POS=DOWN
        MMU_TEST_MOVE SPEED={speed} ACCEL={accel} MOVE={length}
        MMU_SERVO POS=UP
# to stop a macro mid-cycle you must use the e-stop.  This dwell allows you to hit the e-stop while the servo is up so that you can pull the filament out of the ERCF while the printer/macro is stopped
        MMU_SERVO POS=DOWN
        MMU_TEST_MOVE SPEED={speed} ACCEL={accel} MOVE=-{length}
        MMU_SERVO POS=UP

    {% endfor %}

    MMU_UNLOAD

