#####################################################################
# 	Z Homing, QGL and Bed Mesh Settings
#####################################################################
[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_018016000F43304146393320-if00
restart_method: command
is_non_critical: True

[cartographer]
mcu: cartographer            
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 25                         
#    adjust for your cartographers offset from nozzle to middle of coil
verbose: yes # For extra output

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25
speed: 300
horizontal_move_z: 10
retries: 50
retry_tolerance: 0.0075
max_adjust: 10

[cartographer scan]
probe_speed: 5
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
mesh_runs: 2
#   Number of runs when doing a scan mesh.
#   Consecutive runs will trace back the way it came from.
#   The default is 1 run.
mesh_direction: x
#   Axis of which to do the most moves along - either 'x' or 'y'.
#   The default is the x-axis
mesh_height: 3
#   The height (in mm) of the head, when doing a mesh run.
#   The default is 3 mm.
mesh_path: snake
#   The path to use when calibrating a scan mesh - either 'snake',
#   'alternating_snake', 'spiral' or 'random'.
#   The default is snake.

[bed_mesh]
zero_reference_position: 175, 175 # The centre of your bed. 
speed: 400
horizontal_move_z: 3
mesh_min: 25, 35 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 325, 325 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 30, 30
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[safe_z_home]
home_xy_position: 175, 175
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10