#####################################################################
# 	Z Homing, QGL and Bed Mesh Settings
#####################################################################
[mcu scanner]
serial: /dev/serial/by-id/usb-Cartographer_614e_018016000F43304146393320-if00

[scanner]
mcu: scanner            
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 25                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.00438
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.


[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25
speed: 300
horizontal_move_z: 10
retries: 50
retry_tolerance: 0.0075
max_adjust: 10


[bed_mesh]
zero_reference_position: 175, 175    
#    set this to the middle of your bed
speed: 400
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 25, 30
#    start point of bed mesh [X, Y]
mesh_max: 325, 325
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic