[nevermore]
# If you're using USB instead of BT, uncomment and specify the correct serial device.
# WARNING: Make sure it's the `-if02` interface, not `-if00`.
serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E6642815E3618325-if00

# These `fan_power_*` entries are for a DELTA BFB0712HF (StealthMax BOM)
# If you have a different fan then play with these numbers to the satisfaction.
# See full config documentation for details.
# (e.g. See `fan_power_automatic` if you'd prefer very quiet background filtering.)
fan_power_coefficient: 0.6  # lower max power to keep things much more quiet

# seconds, how long to keep filtering after the policy would otherwise stop
fan_policy_cooldown: 900

voc_gating_threshold: 250

# seconds \in (0, 0.02), duration of pulse when requested 0%
vent_servo_pulse_width_min: 0.001
# seconds \in (0, 0.02), duration of pulse when requesting 100%
vent_servo_pulse_width_max: 0.002

# Optional
# This 'temperature' sensor only serves to draw the intake VOC index on
# Mainsail/Fluidd's temperature plot.
[temperature_sensor nevermore_intake_VOC]
sensor_type: NevermoreSensor
sensor_kind: intake
nevermore: nevermore
plot_voc: false


[temperature_sensor nevermore_exhaust]
sensor_type: NevermoreSensor
sensor_kind: exhaust
nevermore: nevermore
plot_voc: false


