[nevermore]
# If you're using USB instead of BT, uncomment and specify the correct serial device.
# WARNING: Make sure it's the `-if02` interface, not `-if00`.
serial: /dev/serial/by-id/usb-Nevermore_Filter_pico_w_E6642815E3618325-if00



